$white-1: #FFFFFF;
$white-2: #FCFCFC;
$white-3: #F3F3F3;

$grey-1: #8F8F8F;
$grey-2: #EFEFEF;
$grey-3: #8493a3;
$grey-4: #333;

$black-1: #000000;
$black-2: #0D0D0D;

$blue-1: #3B83F7;

$placeholder-color: #929292;

$border-color-search: #e5e5e5;

$scrollbar-track: #FCFCFC;
$scrollbar-thumb: #0000001c;
$scrollbar-hover: #0d0d0d45;

$primary-font-family: "Open Sans";

$heading-font-size: 1.2rem;
$heading-font-weight: 550;

$gap-1: 0.75rem;

$border-radius: 0.5rem;

$box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);

$modal-bg: #f5f5f5;
$text-color: #1f1f1f;
$description-color: #777;
$hover-bg: rgba(0, 0, 0, 0.06);

$modal-radius: 18px;
$option-radius: 12px;

$modal-overlay: rgba(0, 0, 0, 0.45);
$modal-shadow: rgba(0, 0, 0, 0.2);
$border-color: rgba(0, 0, 0, 0.1);

$modal-z-index: 100;
$modal-sidebar-width: 14rem;
$modal-width: 46rem;
$modal-height: 40rem;

$modal-padding: 1.25rem;
$modal-small-padding: 0.75rem;
$modal-gap: 1rem;

$small-border-radius: 0.75rem;
$large-border-radius: 1.25rem;

$transition-fast: 0.2s;